---
import { Image } from "astro:assets";
const { comm } = Astro.props;
const { title, images, prices, extraCharacterPrice, maxExtraCharacters, fastDelivery } = comm;
---

<section>
	<header>
		<h1>{title}</h1>
	</header>
	<div class="images">
		<div>
			<Image src={images[0]} alt="Commision Example Image"/>
			<div>
				<span>Sketch</span>
				<span>{prices[0]}$</span>
			</div>
		</div>
		<div>
			<Image src={images[1]} alt="Commision Example Image"/>
			<div>
				<span>Black and White</span>
				<span>{prices[1]}$</span>
			</div>
		</div>
		<div>
			<Image src={images[2]} alt="Commision Example Image"/>
			<div>
				<span>Full Color</span>
				<span>{prices[2]}$</span>
			</div>
		</div>
	</div>
	<footer>
		<span>
			+{extraCharacterPrice}% extra characters <em>(Max {maxExtraCharacters})</em>
		</span>
		<span>
			+{fastDelivery}% fast delivery
		</span>
	</footer>
</section>

<style>
	section {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 1.5em;
	}

	header {
		margin-top: 2em;
		color: var(--background-100);
		text-transform: uppercase;
		font-size: 1.3rem;
	}
	
	.images {
		display: flex;
		width: 85%;
	}

	.images > div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.images > div > div {
		display: flex;
		flex-direction: column;
		color: var(--background-100);
		text-align: center;
		margin-top: 0.5em; 
	}

	em {
		color: var(--background-300);
	}

	footer {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: var(--background-950);
		width: 85%;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%);
		color: var(--background-100);
		font-size: 1.2rem;
		margin-top: unset;
	}

	footer::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: var(--background-900); 
		transform: scaleY(0);
		transform-origin: 50% 100%;
		transition-duration: 0.5s;
		transition-timing-function: ease-out;
	}

	footer:hover::before {
		transform: scaleY(1);
		transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	}
</style>