---
import { Image } from "astro:assets";
const { comm } = Astro.props;
const { title, images, prices, extraCharacterPrice, maxExtraCharacters, detailedDesign } = comm;

---

<section>
	<header>
		<h2>{title}</h2>
	</header>
	<div class="images">
			<div>
				{
					images.map(({src, alt}) => {
						return (
							<Image src={src} alt={alt} />
						)
					})
				}
			</div>
			<div class="prices">
				{
					
					prices.map(({type, price}) => {
						return (
								<div>
									<span>{type}</span>

									<span>{price}$</span>
								</div>
						)
					})
				}
			</div>
	</div>
	<footer>
		<span>
			+{extraCharacterPrice}% extra characters <em>(Max {maxExtraCharacters})</em>
		</span>
		<span>
			+{detailedDesign}% detailed design
		</span>
	</footer>
</section>

<style>
	section {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 1.5em;
	}

	header {
		margin-top: 2em;
		color: var(--background-100);
		text-transform: uppercase;
		font-size: 1.3rem;
	}
	
	.images {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 85%;
	}

	.images > div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.images > .prices {
		display: flex;
		color: var(--background-100);
		margin-top: 0.5em; 
		gap: 3.5em;
	}

	.images > .prices > div {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 1.3rem;
	}

	.images > .prices > div > span:first-child {
		color: var(--background-950);
	} 

	em {
		color: var(--background-300);
	}

	footer {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: var(--background-950);
		width: 85%;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%);
		color: var(--background-100);
		font-size: 1.2rem;
		margin-top: unset;
	}

	footer::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: var(--background-900); 
		transform: scaleY(0);
		transform-origin: 50% 100%;
		transition-duration: 0.5s;
		transition-timing-function: ease-out;
	}

	footer:hover::before {
		transform: scaleY(1);
		transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	}

	@media (width <= 700px) {
		section {
			gap: 0.5em;
		}

		header {
			font-size: 1rem;
			margin-top: 0.5em;
		}

		.images > .prices {
			gap: 0.7em;
		}

		.images > .prices > div > span {
			font-size: 0.5rem;
		}
		
		footer > span {
			font-size: 0.5rem;
		}
	}
</style>